h2 {
  font-weight: 600 !important;
}

#branding {
  background: #222831 !important;
  color: #fff !important;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 20px;
  overflow: visible !important;
  padding: 20px 0 0;
}

#branding h1.page-title {
  font-weight: 600 !important;

  background: #fff;
  box-sizing: border-box;
  color: #464354;
  display: block;
  line-height: 50px !important;
  margin: -20px 0 20px;
  padding: 0 40px;
  position: relative;
  top: 25px;
  width: 100%;
  z-index: 1;
}

#branding .add-shortcut {
  display: none;
}

#branding .breadcrumb {
  color: transparent;
  float: left;
  left: 10px;
  padding: 0 40px;
  position: relative;
  top: -5px;
}

#branding .breadcrumb > a {
  color: #fff;
  font-size: 0.8rem;
  left: -10px;
  padding: 0;
  position: relative;
}

#branding .breadcrumb > a:not(:last-of-type)::after {
  content: '>';
  display: inline-block;
  font-size: 0.6em;
  position: absolute;
  right: -10px;
}

/* #console {
  @extend .alert, .alert-warning;

  margin-top: 0 !important;
} */
  
#printer-friendly {
  position: absolute !important;
  right: 0 !important;
  top: -50px !important;
  z-index: 2;
}

#printer-friendly a {
  color: #fff;
}

#toolbar {
  box-shadow: none !important;
}
